*{
	margin: 0;
	padding: 0;
}
.container{
	width: auto;
	background-image: linear-gradient(rgb(0, 132, 184), rgb(0, 0, 0));
}
.header{
	width: auto;
	height: 80px;
}
.nav_link{
    list-style: none;
	text-align: center;
	padding-top: 30px;
}
.nav_link li{
    display: inline;    
    padding-right: 40px;   
}
.nav_link li a{
    text-decoration: none;
    font-family: 'Trueno', sans-serif;
    color: rgb(255, 255, 255);
	font-size: 17px;
	
}
.nav_link li a:hover{
    transition: all 0.9s ease 0s;
    color: rgb(0, 0, 0);
}
.konten1{
	width: auto;
    height: 185px;
    /* border: 1px solid; */
}
.teks{
	width: 600px;
	font-family: 'Trueno', sans-serif;
	color: rgb(255, 255, 255);
	/* padding-top: 20px; */
    margin-left: 50px;
    /* border: 1px solid; */
}
.the{
	font-size: 30px;
	font-weight: 400;
}
.of{
	font-size: 30px;
	letter-spacing: 3px;
	/* padding-top: 30px; */
}
.teks h1{
    font-size: 90px;
    letter-spacing: 3px;
}
.konten2{
	width: auto;
	height: 625px;
}
.group2{
	width: 396px;
	height: 492px;
	float: left;
	margin-top: 60px;
	margin-left: 50px;
}
.teks2{
	width: 600px;
	font-family: 'Trueno', sans-serif;
	letter-spacing: 0.2em;
	color: rgb(255, 255, 255);
	float: right;
	text-align: left;
	margin-top: 80px;
	margin-right: 200px;
}
.teks2 h1{
	font-size: 40px;
	padding-bottom: 50px;
}
.teks2 p{
	padding-bottom: 20px;
}
.konten3{
	width: auto;
	height: 725px;
}
.group3{
	width: 396px;
	height: 492px;
	float: right;
	margin-top: 60px;
	margin-right: 50px;
}
.teks3{
	width: 600px;
	font-family: 'Trueno', sans-serif;
	letter-spacing: 0.2em;
	color: rgb(255, 255, 255);
	float: left;
	text-align: right;
	margin-top: 80px;
	margin-left: 200px;
}
.teks3 h1{
	font-size: 40px;
	padding-bottom: 50px;
}
.teks3 p{
	padding-bottom: 20px;
}
.konten4{
	width: auto;
	height: 800px;
}
.group4{
	width: 396px;
	height: 492px;
	float: left;
	margin-top: 60px;
	margin-left: 50px;
}
.teks4{
	width: 600px;
	font-family: 'Trueno', sans-serif;
	letter-spacing: 0.2em;
	color: rgb(255, 255, 255);
	float: right;
	text-align: left;
	margin-top: 80px;
	margin-right: 200px;
}
.teks4 h1{
	font-size: 40px;
	padding-bottom: 50px;
}
.teks4 p{
	padding-bottom: 20px;
}
.footer{
	width: auto;
	height: 100px;
}
.footer p{
	font-family: 'Trueno', sans-serif;
	letter-spacing: 0.5em;
	color: rgb(255, 255, 255);
	padding-top: 45px;
	text-align: center;
}